    <mtapp:setting 
        id="managed_blog" 
        label="<__trans phrase='The ID of the blog that I should use'>" 
        >
        <input type="text" name="managed_blog" id="managed_blog" value="<mt:Var name="managed_blog">" />
    </mtapp:setting>

    <mtapp:setting 
        id="incoming_dir" 
        label="<__trans phrase='A storage place for incoming iCals'>" 
        >
        <input type="text" name="incoming_dir" id="incoming_dir" value="<mt:Var name="incoming_dir">" />
    </mtapp:setting>
